@model IEnumerable<StoreOfBuild.Web.ViewModels.ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row header">
    <div class="col-md-12">
        <h3>Products</h3>
        <a href="/Product/CreateOrEdit" class="btn btn-primary">New</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <tbody>
                @foreach(var item in @Model)
                {
                    <tr>
                        <td>
                            <a class="name"> @item.Name </a>
                        </td>
                        <td>
                            <a class="category">@item.CategoryName</a>
                        </td>
                        <td>
                            <a href="/Category/CreateOrEdit/@item.Id" class="btn"> Edit </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>